LLM_NAME="OpenAI"
OPENAI_API_KEY="xxxx"
GPT_MODEL_NAME="gpt-4-turbo"
MIN_RELEVANCE_SCORE=0.5
BOT_TOPIC="Smart-Spreadsheet"
URL_PREFIX="http://127.0.0.1:9000/"
USE_PREPROCESS_QUERY=1
USE_RERANKING=1
USE_DEBUG=0
USE_LLAMA_PARSE=0
LLAMA_CLOUD_API_KEY="xxxx"
